{% for user in users %}
<tr class="text-center text-sm">
    <td class="border">{{user.name}}</td>
    <td class="border">{{user.role}}</td>
    <td class="border">{{user.user_name}}</td>
    <td class="border">{{user.email}}</td>
    <td class="border"><ul>{%include 'content_assigned.html' %}</ul>
    </td>
    <td class="border"><ul>{% include 'content_completed.html' %}</ul></td>
    <td class="border"><button class="px-3 py-1 bg-blue-400 text-white" hx-get="/v/user/{{user.user_name}}" hx-target="body">Select</button></td>
</tr>
{% endfor %}