{% for user in users %}
<tr class="text-center text-sm">
    <td class="border">{{user.name}}</td>
    <td class="border">{{user.role}}</td>
    <td class="border">{{user.user_name}}</td>
    <td class="border">{{user.email}}</td>
    <td class="border">
        <ul>
            {% for vid in user.content_assigned %}
                <a href="/v/video/{{vid}}">{{vid}}</a> 
            {% endfor %}
        </ul>
    </td>
    <td class="border"><ul>{% include 'content_completed.html' %}</ul></td>
    <td class="border"><button class="bg-slate-900 hover:bg-slate-950 text-white font-bold py-2 px-4  mx-2" hx-get="/v/user/{{user.user_name}}" hx-target="body">Select</button></td>
</tr>
{% endfor %}